.card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text-gradient {
  width: 300px;
  height: 50px;
  background-image: linear-gradient(310deg, #2152FF, #21D4FD);
  background-size: 100% 100%;
}
