<ngx-spinner
  bgColor="rgba(247,247,247,0.8"
  size="medium"
  color="#000"
  type="line-scale"
  [fullScreen]="true">
</ngx-spinner>

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Add Questions</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-0">
          <div class="p-4">
            <form>
              <div class="row">
                <div class="col">
                  <select class="form-select mb-3">
                    <option selected>Select Chapter</option>
                    <option value="1">India</option>
                    <option value="2">Africa</option>
                  </select>
                </div>
                <div class="col">
                  <select class="form-select mb-3">
                    <option selected>Select Correct Option</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="2">3</option>
                    <option value="2">4</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Option 1">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Option 2">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Option 3">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Option 4">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <textarea class="form-control" rows="5"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <a class="btn bg-gradient-dark mb-0" href="javascript:;"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Questions</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Manage Questions</h6>
        </div>
        <div class="mt-2">
          <!-- <div class="row">
             <div class="col-md-4 d-flex justify-content-center align-items-center">
               <div class="row col-md-2" >
                 <label>Search Country/Exam Type/Sub Type</label>
               </div>
               <div class="row col-md-2">
                 <input type="search" class="form-control" placeholder="Search">
               </div>
             </div>
             <div class="col-md-4">
               test
             </div>
             <div class="col-md-4">
               test
             </div>
           </div>-->
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Chapter</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Questions</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Correct Option</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Statues</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm justify-content-center">India</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0">Engineering</p>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0">Jee</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <span class="badge badge-sm bg-gradient-success">Activated</span>
                </td>
                <td class="d-flex align-items-center">
                  <div class="ms-auto">
                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"><i class="far fa-trash-alt me-2"></i>Delete</a>
                    <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true">
                    </i>Edit</a>
                    <a class="btn btn-link text-success px-3 mb-0" href="javascript:;">
                      <i class="fas fa-eye text-success me-2" aria-hidden="true"></i>
                      View
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-sm justify-content-center">India</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0">Medical</p>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0">Niit</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <span class="badge badge-sm bg-gradient-danger">Pending</span>
                </td>
                <td class="d-flex align-items-center">
                  <div class="ms-auto">
                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;">
                      <i class="far fa-trash-alt me-2"></i>
                      Delete
                    </a>
                    <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;">
                      <i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>
                      Edit
                    </a>
                    <a class="btn btn-link text-success px-3 mb-0" href="javascript:;">
                      <i class="fas fa-eye text-success me-2" aria-hidden="true"></i>
                      View
                    </a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
